<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <script src="https://apis.google.com/js/platform.js"></script>
  <meta name="google-signin-client_id"
    content="443353292428-8hlpibuo6177kmcisnv3l9pjugpof3ve.apps.googleusercontent.com">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">

  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/reset.css">
  <link href="css/style.css" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spectrum</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-database.js"></script>
  <link rel="stylesheet" href="/styles/gBtn.css">

  <meta name="google-signin-client_id"
    content="443353292428-8hlpibuo6177kmcisnv3l9pjugpof3ve.apps.googleusercontent.com">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <strong>Spectrum</strong>
      </a>

      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/myaccount">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employer">Employer</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <span class="input-group-btn">
              <button class="btn purple-gradient btn-sm" type="button">Search</button>
            </span>
            <span class="input-group-btn" style="margin-left:20px">
              <div id="gSignInWrapper">
                <div id="customBtn" class="customGPlusSignIn"
                  style="background-image: url('img/singin.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity:1; position: fixed; top: 0.7em; right: 2em;">
                  <span class="icon"></span>
                  <span id="inText"></span>
                </div>
              </div>

              <div id="gSignOutWrapper" onclick="signOut()"
                style="background-image: url('img/signout.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity:1; position: fixed; top: 0.7em; right: 2em;">
                <div id="customBtn" class="customGPlusSignIn">
                  <span class="icon"></span>
                  <span id="outText"></span>
                </div>
              </div>
            </span>
          </div>

        </form>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script>
    var googleUser = {};
    var myStorage = window.sessionStorage;
    var runApp = function () {
      if (sessionStorage.length == 0)
        $("#gSignOutWrapper").addClass("notActive");
      else
        $("#gSignInWrapper").addClass("notActive");

      gapi.load('auth2', function () {
        // Retrieve the singleton for the GoogleAuth library and set up the client.
        auth2 = gapi.auth2.init({
          client_id: '443353292428-8hlpibuo6177kmcisnv3l9pjugpof3ve.apps.googleusercontent.com',

            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
          console.log(googleUser);
          console.log(sessionStorage);
          attachSignin(document.getElementById('customBtn')); 

      });

    };

    function attachSignin(element) {
      console.log(element.id);
      auth2.attachClickHandler(element, {},
        function (googleUser) {
          $("#gSignInWrapper").addClass("notActive");
          $("#gSignOutWrapper").removeClass("notActive");

          var profile = googleUser.getBasicProfile();
          console.log("ID: " + profile.getId()); // Don't send this directly to your server!
          console.log('Full Name: ' + profile.getName());
          console.log('Given Name: ' + profile.getGivenName());
          console.log('Family Name: ' + profile.getFamilyName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail());
          sessionStorage.setItem("token", `${googleUser.getAuthResponse().id_token}`)
          sessionStorage.setItem("picture", `${profile.getImageUrl()}`);
          sessionStorage.setItem("email", `${profile.getEmail()}`);
          sessionStorage.setItem("name", `${profile.getName()}`);

          // The ID token you need to pass to your backend:
          var id_token = googleUser.getAuthResponse().id_token;
          console.log("ID Token: " + id_token);
            googleUser.disconnect()


          console.log("you session storage", `${sessionStorage.getItem('user')}`)
          console.log("Email: " + profile.getEmail());
            
            $.ajax({
              'url' : `/user/read/${profile.getEmail()}`,
              'type' : 'GET',
            }).then(function(response)
            { 
              if(response)
              {
                 // $("#exampleModal").modal();

              }
              else
              {
                  $("#exampleModal").modal();
  
              }
            });

        }, function (error) {
          alert(JSON.stringify(error, undefined, 2));
        });
    }

    function employerCreate()
    {
        var employerObject = {
         name: sessionStorage.getItem("name"),
          email: sessionStorage.getItem("email")
        };
        $.ajax({
            method: "POST",
            url: "/employer/profile",
            data: employerObject
        })
            .then(function () {

              console.log("employer created");
               window.location.href = "/employer";
            });
        
    }
    
    function jobseekerCreate(formdata)
    {

          var jobseekerObject = {
         name: sessionStorage.getItem("name"),
          email: sessionStorage.getItem("email")
        };
        $.ajax({
            method: "POST",
            url: "/jobseeker/profile",
            data: jobseekerObject

        })
            .then(function () {

              console.log("employer created");
               window.location.href = "/myaccount";
            });
        
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        $("#gSignOutWrapper").addClass("notActive");
        $("#gSignInWrapper").removeClass("notActive");
        sessionStorage.clear();
        console.log("your clear session storage", `${sessionStorage.getItem('user')}`)

      });
    } 
  </script>

</head>

<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">  We noticed you dont have an account!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        Are you an employer or job seeker?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick=" employerCreate()">Employer</button>
        <button type="button" class="btn btn-primary"  onclick=" jobseekerCreate()">Job Seeker</button>
      </div>
    </div>
  </div>
</div>
  {{{body}}}


  <div id="name"></div>
  <script>runApp();</script>

   
</body>
<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">What do we do? How are we different?</p>
        <p>What makes a business stand out in the 21st century? More often than not, doing exceptional work starts with
          an effective team. And the most effective teams don't form by luck or chance. They are built, by identifying
          and utilizing the strengths of each member in the group. At Spectrum we identify both the temperment and
          interaction styles of our applicants to illuminate both why "we do what we do", and how we are most effective
          at doing it. By organizing teams around both of these principals we leverage current scientific models to
          produce groups who are able to maximize their productivity and excel at achieving their goals.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> Spectrum</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</html>