  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('img/andrew-ridley-jR4Zf-riEjI-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity:1;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient align-items-center">
      <!-- Content -->
      <br>
      <br><br>
      <br><br>
      <br>
      <br><br>
      <br>
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">

          <!--Grid column-->
          <div class="col-xl-2 mb-5"></div>
          <div class="col-xl-8 mb-5">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body">
                <div class="text-center">
                  <h3 class="white-text">
                    <i class="fas fa-user white-text"></i> Account Settings</h3>
                  <hr class="hr-light">
                </div>
                <br>
                <!--Body-->
                <form id="resumeForm" action="/myaccount" method="POST" enctype="multipart/form-data">
                <div class="md-form">
                  <i class="fas fa-camera prefix white-text active"></i>
                  <input type="email" disabled type="text" id="form2" class="white-text form-control">
                  <label for="form2" class="active" id="photofrom">Photo: </label>
                  <img id="photofromserver" class="rounded-circle img-fluid" style="width:75px;height:75px;"></img>
                </div>

                <div class="md-form">
                  <i class="far fa-user-circle prefix white-text active"></i>
                  <input type="text" class="white-text form-control" id="yournamefromserver" name="name">
                </div>

                <div class="md-form">
                  <i class="far fa-envelope prefix white-text active"></i>
                  {{!-- <input type="email" disabled type="text" id="form2" class="white-text form-control"> --}}
                  <input type="email" type="text" class="white-text form-control" id="emailfromserver" name="email">
                  {{!-- <label for="form2" class="active" id="emailfromserver">Email:</label> --}}
                </div>

                <div class="md-form">
                   {{!-- TODO: this part could use a larger text box for input   --}}
                  <i class="fas fa-lock prefix white-text active"></i>
                  <input type="text" disabled id="resume" class="white-text form-control">
                  <label for="resume">Submit resume in plaintext</label>
                  <div class="text-right mt-1">
                <button class="btn purple-gradient btn-sm" id="submitResume" onclick="window.location.href = '/profile';" type="button">Edit</button>
                </div>
                </div>

                <div class="md-form">
                  
                  <i class="fas fa-lock prefix white-text active"></i>
                  <input type="text" disabled id="form4" class="white-text form-control">
                  <label for="form4">Personality</label>
                  <div class="text-right mt-1">
                <button class="btn purple-gradient btn-sm" id="btnaccount2" onclick="window.location.href = '/question';" type="button">Take a test!</button>
                </div>
                </div>
                <div class="md-form">
                  <i class="fas fa-phone prefix white-text active"></i>
                  <input type="text" id="phone" class="white-text form-control">
                  <label for="phone">Phone</label>
                    <div class="text-right mt-1">
                     <button class="btn purple-gradient btn-sm" id="submitPhone" type="button">Add</button>
                    </div>
                </div>
              </div> 
                <div class="md-form">
                  <i class="fas fa-location-arrow prefix white-text active"></i>
                  <input type="text" id="location" class="white-text form-control">
                  <label for="location">Location</label>
                    <div class="text-right mt-1">
                     <button class="btn purple-gradient btn-sm" id="submitLocation" type="button">Add</button>
                    </div>
                </div>
                </form>
              </div>
              {{!-- <input type="submit" value="Submit"> --}}
              
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  
</div>

<!-- SCRIPTS -->

<script>
  new WOW().init();
</script>
<script>

$( document ).ready(function() {
var phone = "";
var location = "";
var resume = "";
  $("#yournamefromserver").attr(`value`,sessionStorage.getItem("name"));
  $("#photofromserver").attr('src', sessionStorage.getItem("picture")); 
  $("#emailfromserver").attr('value',sessionStorage.getItem("email")); 
  //$("#emailinput").text("Email: " + sessionStorage.getItem("email")); 
$("#submitPhone").on("click", function(event)
{
     event.preventDefault();
    phone = $("input[id=phone]").val();
    console.log(phone);
    var emailtest =  sessionStorage.getItem("email");
    var userObject = {
      email: emailtest,
      phone: phone
    };
    submitUser(userObject);
});

$("#submitResume").on("click", function(event)
{
     event.preventDefault();
    resume = $("input[id=resume]").val();
    console.log(resume);
    var emailtest =  sessionStorage.getItem("email");
    var userObject = {
      email: emailtest,
      resume: resume
    };
    submitUser(userObject);
});

$("#submitLocation").on("click", function(event)
{
     event.preventDefault();
    location = $("input[id=location]").val();
    console.log(location);
    var emailtest =  sessionStorage.getItem("email");
    var userObject = {
      email: emailtest,
      location: location
    };
    submitUser(userObject);
});


  function submitUser(formdata) {
    $.ajax({
      method: "PUT",
      url: "/api/updateUser",
      data: formdata
    })
      .then(function() {
       {{!-- window.location.href = "/myaccount"; --}}
     });
  }  
});
</script>
