<div class="view"
    style="background-image: url('img/andrew-ridley-jR4Zf-riEjI-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity:1;">
    <div class="mask rgba-gradient align-items-center">
        <!-- Content -->
        <br><br><br><br><br><br><br><br><br><br>
        <div class="container">
            <!--Grid row-->
            <div class="row mt-5">
                <!--Grid column-->
                <div class="col-xl-2 mb-5"></div>
                <div class="col-xl-8 mb-5">
                    <!--Form-->
                    <div class="card wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="white-text">
                                    <i class="far fa-address-card white-text"></i> Your Profile</h3>
                                <hr class="hr-light">
                            </div>
                            <!--Body-->
                            <div class="md-form">
                                <i class="far fa-user-circle prefix white-text active"></i>
                                <input type="email" disabled type="text" id="form2" class="white-text form-control">
                                <label for="form2" class="active" id="yournamefromserver" name="email">Name: </label>
                            </div>
                            <div class="md-form">
                                <i class="far fa-envelope prefix white-text active"></i>
                                <input type="email" disabled type="text" id="form2" class="white-text form-control">
                                <label for="form2" class="active" id="emailfromserver">Email:</label>
                            </div>

                            <div class="md-form">

                                <i class="fas fa-lock prefix white-text active"></i>
                                <input type="text" id="form4" class="white-text form-control" style="height:600px">
                                <label for="form4">Input Bio:</label>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn purple-gradient btn-sm" onclick="window.location.href = '/profile';">Update</button>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 mb-5"></div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
        </div>
        </div>
<script>
  new WOW().init();
</script>

