
<div class="viewforquestion"
     style="background-image: url('img/bernard-hermant-SxNGG1MJ_IQ-unsplash.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; opacity:1;">
     <!-- Mask & flexbox options-->
     <div class="mask rgba-gradient align-items-center">
          <!-- Content -->
          <br>
          <br><br>

          <div id="home">
               <div class="container">
                    <br>

                    <h5 class="mb-3 wow text-center white-text fadeInLeft" data-wow-delay="1s">Megadocious Super Survey!
                    </h5>
                    <br>
                    <div class="row">
                         {{!-- Result --}}
                         <div class="jumbotron jumbotron-fluid" style="position: fixed; top: 10em; right: 20em;">
                              <div class="container">
                                   <h1 class="display-5">Results:</h1><br>
                                   <p class="lead">A:<span class="AA">0</span><br>B:<span class="BB">0</span><br>C:<span
                                             class="CC">0</span><br>D:<span class="DD">0</span></p>
                              </div>
                         </div>
                         <div class="col-md-6">

                              <form class="clearfix mb-4" action="POST">
                                   <div class="form-group">
                                        <label for="1">1. When you encounter a group of strangers, do you:</label><br>
                                        <input type="radio" name="1" class="btn" value="1" id="q1">a.Talk to everybody
                                        you meet
                                        when
                                        given the chance.<br>
                                        <input type="radio" name="1" class="btn" value="-1" id="q1">b.Keep to yourself
                                        and your
                                        those
                                        people you already know.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="2">2. Which describes you better:</label><br>
                                        <input type="radio" name="2" class="btn" value="1">a.more sensible than
                                        experimental.<br>
                                        <input type="radio" name="2" class="btn" value="-1">b.more experimental than
                                        sensible.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="3">3. Which is less desirable:</label><br>
                                        <input type="radio" name="3" class="btn" value="1">a. Spending time daydreaming
                                        and
                                        fantasizing.<br>
                                        <input type="radio" name="3" class="btn" value="-1">b. Being stuck in a
                                        routine.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="4">4. Which do you prefer:</label><br>
                                        <input type="radio" name="4" class="btn" value="1">a. Logical reasoning.<br>
                                        <input type="radio" name="4" class="btn" value="-1">b. People getting along.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="5">5. Do you have a greater preference for things that
                                             are:</label><br>
                                        <input type="radio" name="5" class="btn" value="1">a. Plausible.<br>or<br>
                                        <input type="radio" name="5" class="btn" value="-1">b. Heart-warming.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="6">6. When doing tasks, which is preferable:</label><br>
                                        <input type="radio" name="6" class="btn" value="1">a. Setting defined goals.<br>
                                        <input type="radio" name="6" class="btn" value="-1">b. Doing whatever you feel
                                        at
                                        the
                                        time.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="7">7. When making choices do you:</label><br>
                                        <input type="radio" name="7" class="btn" value="1">a. Carefully evaluate the
                                        options.<br>
                                        <input type="radio" name="7" class="btn" value="-1">b. Make hasty decisions.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="8">8. When in social settings do you:</label><br>
                                        <input type="radio" name="8" class="btn" value="1">a. Attend until the very end,
                                        and
                                        feel energetic after.<br>
                                        <input type="radio" name="8" class="btn" value="-1">b. Leave at the first
                                        opportunity, feeling drained.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="9">9. Are you more drawn towards:</label><br>
                                        <input type="radio" name="9" class="btn" value="1">a. practical ideas.<br>
                                        <input type="radio" name="9" class="btn" value="-1">b. new ideas.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="10">10. Which interests you more:</label><br>
                                        <input type="radio" name="10" class="btn" value="1">a. Things that currently
                                        exist.<br>
                                        <input type="radio" name="10" class="btn" value="-1">b. Things that might
                                        exist.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="11">11. When judging which is more important:</label><br>
                                        <input type="radio" name="11" class="btn" value="1">a. Laws over situations.<br>
                                        <input type="radio" name="11" class="btn" value="-1">b. Situations over
                                        laws.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="12">12. When you meet people are you more:</label><br>
                                        <input type="radio" name="12" class="btn" value="1">a. Cerebral.<br>
                                        <input type="radio" name="12" class="btn" value="-1">b. Emotional.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="13">13. Which describes you better:</label><br>
                                        <input type="radio" name="13" class="btn" value="1">a. On time.<br>
                                        <input type="radio" name="13" class="btn" value="-1">b. Almost on time.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="14">14. Are you more irritated by:</label><br>
                                        <input type="radio" name="14" class="btn" value="1">a. Things not done.<br>
                                        <input type="radio" name="14" class="btn" value="-1">b. Things that are
                                        done.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="15">15. When with your friends do you:</label><br>
                                        <input type="radio" name="15" class="btn" value="1">a. Pay attention to changes
                                        their
                                        lives.<br>
                                        <input type="radio" name="15" class="btn" value="-1">b. Pay attention to changes
                                        in
                                        the world at large.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="16">16. When doing every day tasks, do you:</label><br>
                                        <input type="radio" name="16" class="btn" value="1">a. Do things like other
                                        people
                                        do.<br>
                                        <input type="radio" name="16" class="btn" value="-1">b. Make up new ways to do
                                        things
                                        for yourself.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="17">17. When thinking of new ideas, do you mostly
                                             consider:</label><br>
                                        <input type="radio" name="17" class="btn" value="1">a. the structure of how the
                                        information is organized.<br>
                                        <input type="radio" name="17" class="btn" value="-1">b. the implications of what
                                        the
                                        idea suggests.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="18">18. Are you more drawn to:</label><br>
                                        <input type="radio" name="18" class="btn" value="1">a. Morals.<br>
                                        <input type="radio" name="18" class="btn" value="-1">b. Feelings.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="19">19. Which appeals to you more:</label><br>
                                        <input type="radio" name="19" class="btn" value="1">a. Consistant reasoning.<br>
                                        <input type="radio" name="19" class="btn" value="-1">b. Peaceful
                                        relationships.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="20">20. Would you like to have:</label><br>
                                        <input type="radio" name="20" class="btn" value="1">a. Everything figured
                                        out.<br>
                                        <input type="radio" name="20" class="btn" value="-1">b. Things left to be
                                        discovererd.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="21">21. Are you more:</label><br>
                                        <input type="radio" name="21" class="btn" value="1">a. Businesslike.<br>
                                        <input type="radio" name="21" class="btn" value="-1">b. Playfull.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="22">22. When you meet new people are you more:</label><br>
                                        <input type="radio" name="22" class="btn" value="1">a. Open to new conversations
                                        and
                                        experiences.<br>
                                        <input type="radio" name="22" class="btn" value="-1">b. Cautious and
                                        evaluative.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="23">23. Evidence:</label><br>
                                        <input type="radio" name="23" class="btn" value="1">a. Illustrates a result.<br>
                                        <input type="radio" name="23" class="btn" value="-1">b. Is open for
                                        interpretation.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="24">24. Are idealists:</label><br>
                                        <input type="radio" name="24" class="btn" value="1">a. Out to lunch.<br>
                                        <input type="radio" name="24" class="btn" value="-1">b. Interesting people.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="25">25. Which describes you better:</label><br>
                                        <input type="radio" name="25" class="btn" value="1">a. Not hot-headed.<br>
                                        <input type="radio" name="25" class="btn" value="-1">b. Not cool-hearted.<br>
                                   </div>

                              </form>

                         </div>
                         <div class="col-md-6">

                              <form class="clearfix mb-4" action="POST">
                                   <div class="form-group">
                                        <label for="26">26. Which is more desirable:</label><br>
                                        <input type="radio" name="26" class="btn" value="1">a. Justice.<br>
                                        <input type="radio" name="26" class="btn" value="-1">b. Mercy.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="27">27. Is it better for things to:</label><br>
                                        <input type="radio" name="27" class="btn" value="1">a. Be carefully planned
                                        out.<br>
                                        <input type="radio" name="27" class="btn" value="-1">b. Occur by chance.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="28">28. Do you prefer:</label><br>
                                        <input type="radio" name="28" class="btn" value="1">a. Owning things.<br>
                                        <input type="radio" name="28" class="btn" value="-1">b. Getting what you need
                                        when
                                        you need it.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="29">29. When around others do you:</label><br>
                                        <input type="radio" name="29" class="btn" value="1">a. Start the
                                        conversation.<br>
                                        <input type="radio" name="29" class="btn" value="-1">b. Let others do it.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="30">30. How do you feel about "common sense"?</label><br>
                                        <input type="radio" name="30" class="btn" value="1">a. Generally a good way to
                                        make
                                        decisions.<br>
                                        <input type="radio" name="30" class="btn" value="-1">b. Not always correct.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="31">31. Children should:</label><br>
                                        <input type="radio" name="31" class="btn" value="1">a. Focus on being
                                        practical.<br>
                                        <input type="radio" name="31" class="btn" value="-1">b. Use their
                                        imagination.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="32">32. When deciding on something, you would rather:</label><br>
                                        <input type="radio" name="32" class="btn" value="1">a. Do what you think is the
                                        right
                                        thing.<br>
                                        <input type="radio" name="32" class="btn" value="-1">b. Do what feels best.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="33">33. Which describes you better:</label><br>
                                        <input type="radio" name="33" class="btn" value="1">a. Tough, not
                                        compassionante.<br>
                                        <input type="radio" name="33" class="btn" value="-1">a. Compassionante, not
                                        tough.
                                        .<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="34">34. Is it better to be:</label><br>
                                        <input type="radio" name="34" class="btn" value="1">a. Organized.<br>
                                        <input type="radio" name="34" class="btn" value="-1">b. Flexible.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="35">35. Are you more:</label><br>
                                        <input type="radio" name="35" class="btn" value="1">a. Deliberate.<br>
                                        <input type="radio" name="35" class="btn" value="-1">b. Spontaneous.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="36">36. After meeting several new people do you feel:</label><br>
                                        <input type="radio" name="36" class="btn" value="1">a. energized and
                                        excited.<br>
                                        <input type="radio" name="36" class="btn" value="-1">b. drained and tired.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="37">37. Are you more:</label><br>
                                        <input type="radio" name="37" class="btn" value="1">a. rational.<br>
                                        <input type="radio" name="37" class="btn" value="-1">b. imaginative.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="38">38. When working with a group, are you more interested
                                             in:</label><br>
                                        <input type="radio" name="38" class="btn" value="1">a. How others can complete
                                        the
                                        task at hand.<br>
                                        <input type="radio" name="38" class="btn" value="-1">b. How others understand
                                        what
                                        the task is.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="39">39. What do you prefer:</label><br>
                                        <input type="radio" name="39" class="btn" value="1">a. A well thought out
                                        debate.<br>
                                        <input type="radio" name="39" class="btn" value="-1">b. A consensus.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="40">40. Are you driven more by your:</label><br>
                                        <input type="radio" name="40" class="btn" value="1">a. Head.<br>or<br>
                                        <input type="radio" name="40" class="btn" value="-1">b. Heart.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="41">41. Would you rather do work that is:</label><br>
                                        <input type="radio" name="41" class="btn" value="1">a. Clearly defined.<br>
                                        <input type="radio" name="41" class="btn" value="-1">b. Loosely defined.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="42">42. Do you prefer:</label><br>
                                        <input type="radio" name="42" class="btn" value="1">a. Form.<br>
                                        <input type="radio" name="42" class="btn" value="-1">b. Function.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="43">43. Would you rather have:</label><br>
                                        <input type="radio" name="43" class="btn" value="1">a. Lots of friends whom you
                                        occasionaly see.<br>
                                        <input type="radio" name="43" class="btn" value="-1">b. Fewer friends that you
                                        see
                                        often.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="44">44. Are you more driven by:</label><br>
                                        <input type="radio" name="44" class="btn" value="1">a. details.<br>
                                        <input type="radio" name="44" class="btn" value="-1">b. policies.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="45">45. Which is more difficult?</label><br>
                                        <input type="radio" name="45" class="btn" value="1">a. Adopting an unfamiliar
                                        viewpoint.<br>
                                        <input type="radio" name="45" class="btn" value="-1">b. Direct the actions of a
                                        group.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="46">46. Which is the greater asset:</label><br>
                                        <input type="radio" name="46" class="btn" value="1">a. An orderly mind.<br>
                                        <input type="radio" name="46" class="btn" value="-1">b. An open heart.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="47">47. Which ideal do you most closely embody:</label><br>
                                        <input type="radio" name="47" class="btn" value="1">a. Determination.<br>
                                        <input type="radio" name="47" class="btn" value="-1">b. Dedication.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="48">48. Do you most often choose things that are:</label><br>
                                        <input type="radio" name="48" class="btn" value="1">a. defined and
                                        permanent.<br>
                                        <input type="radio" name="48" class="btn" value="-1">b. uncertain and
                                        mutable.<br>
                                   </div>

                                   <div class="form-group">
                                        <label for="49">49. Would you rather be in a situtation:</label><br>
                                        <input type="radio" name="49" class="btn" value="1">a. before a judgement has
                                        been
                                        made.<br>
                                        <input type="radio" name="49" class="btn" value="-1">b. after a judgement has
                                        been
                                        made.<br>
                                   </div>
                              </form>

                         </div>

                         <button class="btn purple-gradient" id="submit">Submit</button>
                    </div>
               </div>
          </div>

          <!-- Content -->
     </div>
     <!-- Mask & flexbox options-->
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="models/index.js"></script> --}}
<script>
     results = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
     AA = 0;
     BB = 0;
     CC = 0;
     DD = 0;
     role = "";
     temperment = "";

     function score() {
          AA = results[1] + results[8] + results[15] + results[22] + results[29] + results[36] + results[43];
          BB = results[2] + results[3] + results[9] + results[10] + results[16] + results[17] + results[23] + results[24] + results[30] + results[31] + results[37] + results[38] + results[44] + results[45];
          CC = results[4] + results[5] + results[11] + results[12] + results[18] + results[19] + results[25] + results[26] + results[32] + results[33] + results[39] + results[40] + results[46] + results[47];
          DD = results[6] + results[7] + results[13] + results[14] + results[20] + results[21] + results[27] + results[28] + results[34] + results[35] + results[41] + results[42] + results[48] + results[49];
          $(".AA").text(AA);
          $(".BB").text(BB);
          $(".CC").text(CC);
          $(".DD").text(DD);
          $(".ROLE").text(role);
          $(".TEMP").text(temperment);

          getRole();
     };


     function getRole() {
          if ((AA > 0) && (BB < 0) && (DD > 0) || ((AA > 0) && (BB > 0) && (CC > 0))) {
               role = "RED";
               return;
          };
          if ((AA < 0) && (BB < 0) && (DD > 0) || ((AA < 0) && (BB > 0) && (CC > 0))) {
               role = "GREEN";
               return;
          };
          if ((AA > 0) && (BB < 0) && (DD < 0) || ((AA > 0) && (BB > 0) && (CC < 0))) {
               role = "YELLOW";
               return;
          };
          if ((AA < 0) && (BB < 0) && (DD < 0) || ((AA < 0) && (BB > 0) && (CC < 0))) {
               role = "BLUE";
               return;
          };
     };

     function getTemperment() {
          if ((BB < 0) && (CC < 0)) {
               temperment = "IDEALIST";
               return;
          };
          if ((BB < 0) && (CC > 0)) {
               temperment = "RATIONAL";
               return;
          };
          if ((BB > 0) && (DD < 0)) {
               temperment = "ARTISAN";
               return;
          };
          if ((BB > 0) && (CC > 0)) {
               temperment = "GUARDIAN";
               return;
          };
     };
$("#submit").on("click", function(event)
{
     event.preventDefault();
    // Wont submit the post if we are missing a temperment or role
    if (!temperment || !role) {
         alert("Input missing please fill out form")
      return;
    }
    alert("Congratulations! Your personality code is: " + role);
    var resultsString = results.toString();
    // Constructing a newSUrvey object to hand to the database
    var emailtest =  sessionStorage.getItem("email");
    var newSurvey = {
      email: emailtest,
      testAnswers: resultsString,
      role: role,
      temperment: temperment
    };
    submitSurvey(newSurvey);
  });

  // Submits a new post and brings user to blog page upon completion
  function submitSurvey(survey) {
    $.ajax({
      method: "PUT",
      url: "/api/survey",
      data: survey
    })
      .then(function() {
        {{!-- window.location.href = "/question"; --}}
      });
  }



$(".btn").click(function myFunc() {
     var moose = $(this).attr("name");
     moose = parseInt(moose);
     var dog = $(this).val();
     results[moose] = parseInt(dog);
     {{!-- console.log('dog:' + dog);
     console.log('moose:' + moose);
     console.log(results); --}}
     score();
});
</script>