html {
  /* overflow: scroll; */
}
body,
header,
.view {
  height: 1250px;
}

::-webkit-scrollbar { 
  display: none; 
}
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
    opacity: 0.1;
  }
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}

h5 {
  font-family: 'DM Serif Text', serif;
  font-size: 40px;
}

.title {
  padding-left: 100px;
  width: 80%;
}

#googleId {
  background-color: transparent;
  border: none;
  cursor:pointer;
  }

#home {
  color: white;
}
.jumbotron {
  color: black;
}

.mdb-select {
  margin-left: 200px;
  width: 300px;
  height: 30px;
}

#photofrom {
  font-size: 20px;
  margin-top: 20px;

}
#photofromserver {
  margin-top: -6em;
  margin-left: 600px;
}
#yournamefromserver {
  font-size: 20px;
  margin-top: 20px;
}

#emailfromserver {
  font-size: 20px;
  margin-top: 20px;
}

#uploadFile {
  position: fixed;
  margin-top: -2em;
  margin-left: 10em;
}

#submitResume{
  margin-top: -10em;
}
#btnaccount2{
  margin-top: -11em;
}
#submitPhone{
  margin-top: -11em; 
}
#submitLocation{  
  margin-left: 9em; 
  margin-top: -11em; 
}

#result {
  height: 10px;
}
