#customBtn {
  display: inline-block;
  color: #444;
  width: 165px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
.notActive
{
    display: none;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 38px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}